<html dir="ltr" lang="fr-FR" class="js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>Fiinance</title>

<!--[if IE]><![endif]-->
<link rel="shortcut icon" href="consely/favicon2.png" type="image/x-icon">
<link rel="stylesheet" href="/assets/consely.css" type="text/css" media="screen">
<link href='/assets/immersive-slider.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/assets/jquery.immersive-slider.js"></script>
</head>

<body id='home'>

        <div id='header'>
      
    </div>

<div id="gallerie" class="wrapper">
    <header>    
    <div class="main">
      <div class="page_container">
        <div id="immersive_slider">
          <div class="slide">
            <div class="content">

              <h2><a href="#" target="_blank">Hey ! I'm a paragraph</a></h2>
              <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
            </div>

            <div class="image">
              <a href="#" target="_blank">
                <img src="consely/conselyv2.png" alt="Slider 1">
              </a>
            </div>
          
          </div>
          
          <div class="slide">
            <div class="content">
              <h2><a href="#" target="_blank">Hey ! I'm the second paragraph</a></h2>
              <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
            </div>
            <div class="image">
             <a href="#" target="_blank"> <img src="consely/conselyv2.png" alt="Slider 1"></a>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2><a href="#" target="_blank">Hey ! I'm the third paragraph</a></h2>
              <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank"><img src="consely/bourse.jpg" alt="Slider 1"></a>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2><a href="#" target="_blank">Hey ! I'm the fourth paragraph</a></h2>
              <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank"><img src="consely/conselyv2.png" alt="Slider 1"></a>
            </div>
          </div>
          
          <a href="#" class="is-prev">&laquo;</a>
          <a href="#" class="is-next">&raquo;</a>
        </div>
      </div>
    </div>
    <div class="benefits">
      <div class="page_container">

      </div>
    </div>
    <script type="text/javascript">
      $(document).ready( function() {
        $("#immersive_slider").immersive_slider({
          container: ".main"
        });
      });

    </script>
  </br>
 </div>

      <div class = "bandeau1" >
        <img src ="/assets/bandeau.png" class="bandeauimage">
        <p class="bandeau"> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
      </div>
      <div class = "bandeau1" >
        <img src ="/assets/bandeau.png" class="bandeauimage">
        <p class="bandeau"> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
      </div>
      <div id="contacts" >
        <p id="textecontacts" class="bandeau">
          <br>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.

        </p>
      </br>
      </div>
</br>
      <div class = "bandeaunoir" >
        <img src ="/assets/bandeaunoir.png" class="bandeauimage2">
        <p class="texte"> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
        <hr width="30%" text-align="center"></hr>
         <p class="texte"> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>



      </div>
      <div class = "bandeau2" >
        <img src ="/assets/bandeau.png" class="bandeauimage">
        <p class="bandeau"> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
        </br>
</br>
</br>
</br>
</br>
</br>
      </div>

